<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
</head>
<body>
    <nav>
        <img src="/images/assets/logo.png" alt="">
        <div id="right-nav">
            <a href="#">Register as Doctor</a>
            <a href="#">Register as patient</a>
            <a href="#">login</a>
            <a href="#">Contact Us</a>
            <i class="ri-menu-fill"></i>
        </div>
    </nav>