<% include ./components/header.ejs %>
<div id="page-1">
    <div id="form">
        <form action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" id="">
            <label for="password">Password</label>
            <input type="password" name="password" id="">
            <input type="submit" value="submit">
        </form>
    </div>
</div>
<% include ./components/footer.ejs %>