<% include ./components/header %>
<div id="page-1">
    <div id="form">
        <form action="/register" method="post">
            <label for="name">Full Name :</label>
            <input type="text" name="name" id="">
            <label for="username">Username :</label>
            <input type="text" name="username" id="">
            <label for="password">Password :</label>
            <input type="password" name="password" id="">
            <label for="number">Contact :</label>
            <input type="number" name="number" id="">
            <label for="email">Email :</label>
            <input type="email" name="email" id="">
            <input type="submit" value="submit">
        </form>
    </div>
</div>
<% include ./components/footer %>