<% include ./components/header %>
    <div id="main">

        <div data-scroll data-scroll-speed = "-5" id="page1">
            <div id="bottom">
                <h1>Experience Real <br>Estate Agility</h1>
                

            <div id="bottom-bottom">
                <p>Create a digital twin of your existing building<br>and release the potential of Web3</p>
                <button>Learn More</button>
            </div>
            </div>
            <img class="bg" src="https://images.hdqwalls.com/wallpapers/hogwarts.jpg"></img>
        </div>
        <div id="page2">
            <img class="bg" src="https://i.pinimg.com/originals/e7/d3/ab/e7d3ab4261a126583ae1ae374b944f73.jpg"></img
            <h2>CERTIFY YOUR BUILDING AS A DIGITALTWIN TOKEN</h2>
            <h1>The Digital Twin Token is a unique digital asset backed <br> by property data.Magma combines your <br> building's components and system essential <br> information into a DDT</h1>
        </div>
        <div data-scroll data-scroll-speed="-3"  id="page3">
            <canvas></canvas>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js" integrity="sha512-OzC82YiH3UmMMs6Ydd9f2i7mS+UFL5f977iIoJ6oy07AJT+ePds9QOEtqXztSH29Nzua59fYS36knmMcv79GOg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js" integrity="sha512-EZI2cBcGPnmR89wTgVnN3602Yyi7muWo8y1B3a8WmIv1J9tYG+udH4LvmYjLiGp37yHB7FfaPBo8ly178m9g4Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/javascripts/script.js"></script>
<% include ./components/footer %>