

body{
    background-color: rgb(217, 55, 55);
    background-image: url(/images/image_assets/bgdoc.jpeg);
}
#myinput{
    border-radius: 10px;
    width: 800px;
    height:30px;
}
.doc1{
    height:80px;
    border-radius : 50%;
    padding:10px;
}

.butt{
    transition-duration: 0.4s;
    background-color: rgb(37, 131, 30);
    height: 40px;
    border-radius: 10px;
    border: 3px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: azure;
 }
  
  .butt:hover {
    background-color: rgb(217, 124, 124); /* Green */
    color: black;
}
.details{
    padding: 10px;
    width: 400px;
    height:80px;
    display: flex;
    gap:10px;
    margin: 2px solid black;
}
.button{
    padding: 20px;
    display: flex;
    justify-content: end;
    align-items: end;   
}
.navbar-nav{
    background-color: aqua;
    height: 30px;
    width: 100%;
    border: 1px solid black;
    display: flex;

    gap: 40px;
    justify-content: end;
    width: 100%;
    margin: 1px solid black;
}
nav{
    height: 40px;
    width: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
}
.icon{
    width: 20%;
    height: 100%;
    background-color: blue;
}
.logo{
    height: 200px;
    width: 100%;
}
.blank{
    width: 80%;
}
form{
    margin-top: 20px;
}
.details{
    margin-top: 30px;
     border: 5px solid rgb(255, 94, 94);
     border-radius: 20px;
     width: 55vw;
     background-color: rgb(46, 30, 30);
}
h2{
    color: aliceblue;
    font-family: "Josefin Sans", sans-serif;
}
button{
    text-transform: capitalize;
    
}
section{
    margin-left: 300px;
}
img{
    height: 50px;
}